body {
    font-family: 'Poppins';
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    max-width: 1020px;
    margin: 0 auto;
}

.cabecalho .Logo {
    width: 65px;
}

.cabecalho .menu{
    display:flex;
    align-items: center;
    height: 100%;
}

.cabecalho .menu__link {
    font-weight: bold;
    color: #fff;
    font-size: 25px;
    padding: 10px 20px;
}
.cabecalho .menu__link:hover {
    background:red;
    border-radius: 50px;
}

.container {
    display:flex;
    align-items: center;
    height: calc(100vh - 132px);
    max-width: 1020px;
    margin: 0 auto;
    text-align: justify;
    justify-content: space-between;
}

.container .titulo-mario{
    max-width: 400px;
}
.container .informacoes__texto{
    color: #a8adb7;
    width: 85%;
    font-size: 18px;
    margin: 30px 0;
}

.container .botao-trailer {
    background-color: #ff0021;
    color: #fff;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border:none;
    text-transform:
    uppercase;
    transition: 0.5s all ease-in-out;
}

.container .botao-trailer:hover {
    transform: scale(105%)
}

.fundo-video {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow:hidden;
    margin: 0 auto;
    display:flex;
    justify-content: center;
}

.fundo-video .video{
    height: 100vh;
    margin: 0 auto;
}

.fundo-video:after {
    position:absolute;
    top:0;
    left: 0;
    width:100vw;
    height:100vh;
    content: "";
    background: linear-gradient(to right, rgb(0, 0, 0, 1) 5%, rgb(0, 0, 0, .8) 50%, rgb(0, 0, 0, 1) 95% )
}

.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(52, 54, 50, 0.75);
    opacity: 1;
    visibility: hidden;
}

.conteudo-modal{
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 10px;
}

.fechar-modal{
    background: #fff;
    color: #f03a17 ;
    font-weight: bold;
    font-size: 20px;
    width: 40px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px
}

.modal #video {
    border-width: 0;
    width: 640px;
    height: 360px;
}

.modal.aberto{
    opacity: 1;
    visibility: visible;
}